* {
  font-family: 'Montserrat', sans-serif;
}
.app-container {
  width: auto;
  display: grid;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: #5a5a5a;
}

#logo {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.image-on-top {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  position: relative;
  text-align: center;
}

.app-name-left {
  margin-right: 5px;
  font-size: 3em;

  bottom: 8px;
  left: 16px;
}

.app-name-right {
  margin-left: 5px;
  font-size: 3em;

  bottom: 8px;
  right: 16px;
}

.new-data {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
  border-spacing: 5px;
  margin-bottom: 5px;
  padding: 3px;
}

#colour-input,
#plate-input {
  margin-left: 3px;
}

.table-of-contents {
  width: 100%;
  display: table;

  background-color: antiquewhite;
}

.header {
  font-size: 25px;
}
.header,
.row {
  display: table-row-group;
}

.colour-cell,
.plate-cell {
  display: table-cell;
  background-color: rgb(212, 209, 209);
  border: solid 2px antiquewhite;
  padding: 2px;
}

.add-new {
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
